.container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, #9bad9b, #d1dad1);
}

/* Bara till för att göra bilderna mer överskådliga i början.
  Ändra stylingen vid behov. */
img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    opacity: 0.5;
    position: relative;
    transition: all 0.3s ease;
    transform-origin: center;
    z-index: 1;
}

.container > div:hover {
    z-index: 1;
}

.container img:hover {
    opacity: 1;
    scale: 1.2;
    z-index: 10;
}

.container > div {
    width: 410px;
    height: 410px;
    transform: translate(205px, 0);
}

.container > div:last-child {
    transform: translate(-205px, 0);
}

.container > div > img {
    width: 200px;
    height: 200px;
    transform: translate(100px, 0);
}

.container > div > img:nth-child(2) {
    transform: translate(0px, 105px);
}
.container > div > img:last-child {
    transform: translate(100px, 5px);
}

.container > div:first-child > img {
    transform: translate(110px, 0);
}
.container > div:first-child > img:nth-child(2) {
    transform: translate(-200px, 105px);
}
.container > div:first-child > img:last-child {
    transform: translate(110px, 5px);
}

.gallery {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(to right, #9bad9b, #d1dad1);
}

.gallery > div {
    transform: translate(215px, 0);
}
.gallery > div:last-child {
    transform: translate(-215px, 0);
}

.gallery > div:hover {
    z-index: 9;
}

.gallery > div img {
    width: 200px;
    height: 200px;
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
    margin: 5px;
}

.gallery img:hover {
    opacity: 1;
    scale: 1.2;
    z-index: 10;
}

.gallery > div img:nth-child(2) {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
}
.gallery > div:last-child img:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}
.gallery > div img:nth-child(3) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
}

.gallery > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
